.news-item-image {
  width: 50%;
  height: 300px;
  object-fit: scale-down;

}

.news-item {
  margin: 30px;
  padding: 20px;
  border: solid 3px;
  border-radius: 10px;
}

.news-container{
  color: rgb(255, 255, 255);
}

.news-item-title {
  
  color: white;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
